.coffee-machine {
  border: 3px solid black;
  margin-top: 100px;
}

.coffee-list {
  background-image: url("img/background.jpg");   /*фон*/
  background-size: cover;                  
}

.coffee-item {
  background: rgba(0, 0, 0, 0.7);    
  /* color: white;*/
  margin: 10px 0;
  border-radius: calc(75px / 2);
  cursor : pointer;     /*при наведение мышки на затемненные области меняется крусор на палец*/
}

.coffee-item span {
  color: white;
  margin-left: 25px;
}

.coffee-item img {
  height: 75px;          /*высота картинок*/
  background: white;    /*фон картинок*/
  border-radius: 50%;   /*закругление картинок*/
  margin-left: -15px;   /*сдвиг картинок влево по затемненной области*/
}

.coffee-item:hover {               /* подсветка при наведение*/
  background: rgba(30, 30, 30, 0.7);
}

.coffee-oper {
  background: lightgrey;
}

.display {
  background: lightgreen;   /*фон*/
  border: 3px solid darkgreen; /*цвет рамки*/
  padding: 10px;  /*отступ от краев рамки бар и надпись*/
}
